*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.content {
    padding: 16px;
    height: 2000px;

    this is for testing the scrolling of the website ahahaha
}*/

@font-face {
    font-family: 'Momotrust';
    src: url('fonts/MomoTrustDisplay-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'spider';
    src: url('fonts/Spider.ttf') format('truetype');
  }

@font-face {
    font-family: 'spiderwoman';
    src: url('fonts/Spiderwoman.ttf') format('truetype');
  }

@font-face {
    font-family: 'spider';
    src: url('fonts/SPIDER-MAN ECLIPSE.ttf') format('truetype');
  }

@font-face {
    font-family: 'oldschool';
    src: url('fonts/New Athletic M54.ttf') format('truetype');
  }

html {
    scroll-behavior: smooth;
}

/*---------------THIS IS FOR MAIN HEADER AND NAVIGATION------------------*/
/*---------------------------------*/

header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  

.main-header{
    background-image: linear-gradient(to right, red, rgb(156, 0, 0));
    height: 85px;
    width: auto;
}

#brand-signature{
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-navigation{
    position: sticky;
    top: 0;
    background-color: rgb(63, 0, 0);
    height: 40px;
    width: auto;
    z-index: 1000;
    overflow: hidden;
    
}


.top-navigation a {
    transition: background 0.3s;
    float: left;
    color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .top-navigation a:hover {
    background-color: rgb(136, 0, 0);
    color: rgb(255, 255, 255);
  }


  .top-navigation a.split {
    float: right;
    background-color: rgb(63, 0, 0);
    color: white;
  }

  .top-navigation a.split:hover {

    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    
  }

  /*--------------THIS IS FOR HOME SECTION-------------------*/
/*---------------------------------*/

#HOME {
    background-image: linear-gradient(to right, rgb(255, 58, 107), white, transparent);
    display: flex;             
    align-items: center;         
    justify-content: center;     
    height: 100vh;               
    gap: 50px;                   
  }

#HOME a{
    margin-left: 30px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'spider';
    font-weight: bolder;
    color: rgb(255, 0, 64);
}

#HOME a:hover{
    color: #1a0003;
}

.product-image img{
    width: auto;
    height: auto;
    
  }

.product-info {
    text-align: left;
  }

.product-info h2 {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(80, 0, 0));
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: 'spider', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}

.product-info h1 {
    color: rgb(138, 0, 0);
    font-weight: bold;
    font-family: 'Momotrust', sans-serif;
    font-size: 40px;
    margin: 10px 0;
    }
    
.product-info p {
    font-size: 25px;
    text-align: center;
    font-family: 'Momotrust', sans-serif;
    margin: 5px 0;
    }

#price{
    margin-left: 5px;
    font-size: 30px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: rgb(85, 0, 21);
}



#promotion{
    font-family: 'Momotrust', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(121, 0, 0);
}

#services{
    font-family: 'Momotrust', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(121, 0, 0);
}

#branch{
    font-family: 'Momotrust', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(121, 0, 0);
}

#about{
    font-family: 'Momotrust', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(121, 0, 0);
}

#support{
    font-family: 'Momotrust', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(121, 0, 0);
}

/*---------------------------------*/
/*------------THIS IS FOR SLIDESHOW CAROUSEL---------------------*/






/*---------------------------------*/
/*--------------THIS IS FOR SERVICE----------------*/








/*---------------------------------*/
/*------------THIS IS FOR BRANCHES-----------jsko nakakapagod ahahah----------*/













/*---------------------------------*/
/*----------THIS IS THE ABOUT SECTIONS-----------------------*/







/*---------------------------------*/
/*----------SUPPORT SECTION---------*/








  
/*---------------------------------*/
/*----------FOOTER FOR THE WEBSITE---------*/






/*---------------------------------*/




/*---------------------------------*/
